<div class="row">
  <div class="col-12">
    <h1>Search heroes</h1>
    <mat-divider></mat-divider>
  </div>
  <div class="col-12">
    <h3>Search Hero</h3>

    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>Write your hero ...</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="term"
        [matAutocomplete]="auto"
        (input)="search()"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="optionSelected($event)"
      >
        <mat-option
          *ngIf="heroes.length === 0 && term && term.trim().length > 0"
          [value]=""
        >
          Not found hero with term: {{ term }}
        </mat-option>
        <mat-option *ngFor="let hero of heroes" [value]="hero">
          {{ hero.superhero }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="col">
    {{ heroSelected | json }}
  </div>
</div>
