<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>

      <span class="spacer"></span>

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>label</mat-icon>
        <span>List Heroes</span>
      </a>

      <a routerLink="./add" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>add</mat-icon>
        <span>Add Hero</span>
      </a>

      <a routerLink="./search" mat-list-item>
        <mat-icon matListItemIcon>search</mat-icon>
        <span>Search Hero</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container-home">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
