<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar>
      <span>Menú</span>

      <span class="spacer"></span>

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>label</mat-icon>
        <span>List</span>
      </a>

      <a routerLink="./new-hero" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>add</mat-icon>
        <span>Add</span>
      </a>

      <a routerLink="./search" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>search</mat-icon>
        <span>Search</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <span>{{ user?.email }}</span>

    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>