/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.hero-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    max-width: 400px;
    max-height: 700px;
    margin: auto; /* Esto centrará la imagen horizontalmente */
}